<div class="flyntComponent componentSpacing" is="flynt-block-quote">
  <div class="container centerMaxWidthContainer">
      <div class="content content--{{ textAlignment }}">
        <div class="inner-content {{ options.theme }}">{{ content|e('wp_kses_post') }}</div>
      </div>
  </div>
</div>
